<div class="login">
    <div class="login__content">
        <article>
            <form action="/api/sessions/login" method="post">
                <h1>Login</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="login__content-input">
                    <input type="email" name="email" placeholder="Correo" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                <div class="login__content-input">
                    <button type="submit">Ingresar</button>
                </div>
                <p>Si no tiene una cuenta puede registrarse en el siguiente enlace</p>
                <a href="/register" >Registrarse</a> | 
                <a href="/recovery-password" >Olvido su contraseña?</a>
            </form>
        </article>
    </div>
</div>