<div class="login">
    <div class="login__content">
        <article>
            <h1>Private Zone</h1>
            <p>Nombre: {{user.first_name}}</p>
            <p>Apellido: {{user.last_name}}</p>
            <p>Correo: {{user.email}}</p>
            <p>Rol: {{user.rol}}</p>
            <a href="/api/sessions/logout" role="button">Logout</a>
            <a href="/products" role="button">Productos</a>
        </article>
    </div>
</div>