<div>
    <h1>Registro de usuario</h1>
    <form action="/api/users" method="post">
        <input required type="text" name="firstname" placeholder="Nombre">
        <input required type="text" name="lastname" placeholder="Apellido">
        <input required type="text" name="age" placeholder="Edad">
        <input required type="text" name="email" placeholder="Email">
        <input type="submit" value="Envíar">
    </form>
</div>