<div>
    <form id="form-message">
        <input id="input-message" type="text" placeholder="Escribe tu mensaje" required>
        <input type="submit" value="enviar">
    </form>
</div>
<ul id="show-message">

</ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>