<div class="login">
    <div class="login__content">
        <article>
            <form id="login-form">
                <h1>Login</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="login__content-input">
                    <input type="email" id="email-input" name="email" placeholder="Correo" required>
                    <input type="password" id="password-input" name="password" placeholder="Contraseña" required>
                </div>
                <div class="login__content-input">
                    <button type="submit">Ingresar</button>
                </div>
                <a href="/logintest">Login</a>
            </form>
        </article>
    </div>
</div>
<script src="js/script.js"></script>